<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_secret</key>
	<string>df6b407fd97e3c5859d88f6e759d686c</string>
	<key>client_id</key>
	<string>fc8f3665cfca82d588ed</string>
</dict>
</plist>
